{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>We are a team of passionate developers building wed applications with Flask</p>
<ol>
    <li>Mission: To teach programming effectively</li>
    <li>Vision: Empower people to build their ideas</li>
    <li>Values: Collaboration, innovation, and learning</li>
</ol>

<p>Our team</p>
<ul>
    {% for member in team_members %}
        <li>{{ member.name }} - {{ member.role }}</li>
    {% endfor %}
</ul>
{% endblock %}