<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Information</h1>

    <img src="https://opis-cdn.tinkoffjournal.ru/mercury/sad-hamster-02.aajw6jtfp2j3..jpg?preset=image_570w" alt="Sad Hamster" width="200" height="200">
    
    <p>Available ways to contact our support team:</p>
    <ul>
        <li>Email: abc123@gmail.com</li>
        <li>Tel: +7 123 456 78</li>
    </ul>

</body>
</html>